
*.log
*.jpg
*.png
*.jpeg

*dbconnection.php
*db.php

./common/dbconnection.php
./users/common/dbconnection.php

common/dbconnection.php
users/common/dbconnection.php

/common/dbconnection.php
/users/common/dbconnection.php

king/images